* {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
}

main {
  margin-top: 280px;
}

.contenedor-principal-local {
  width: 100%;
  height: 415px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carousel-local {
  width: 85%;
  height: 415px;
}
/* Estilo para ajustar las imágenes del carrusel */
.contenedor-items-local {
  width: 100%;
  height: 415px;
}
.carousel-item-local img {
  width: 100%; /* Imágenes abarcan todo el ancho */
  height: 100%; /* Imágenes abarcan toda la altura del contenedor del carrusel */
  object-fit: cover; /* Ajusta la imagen para cubrir el contenedor manteniendo la proporción */
}
.contenedor-categorias-body {
  width: 100%;
  margin-top: 10px;
  max-width: 2000px;
  padding: 10px;
  height: 200px;
  background-color: rgb(197, 197, 197);
}
.columna-categoria-local {
  display: flex;
  padding: 25px;
  justify-content: center;
}
.columna-categoria-local button {
  width: 90%;
  height: 80px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-section {
  margin: 10px;
  flex: 1 1 200px;
  min-width: 200px;
}

.footer-section h4 {
  margin-bottom: 15px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-section .social a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

.footer-section .social a i {
  font-size: 24px;
}

.logo img {
  max-width: 100%;
  height: auto;
}

.linea-separadora {
  background-color: #ced4da;
  padding: 2px;
}
.separator {
  width: 100%;
  height: 1px;
  background-color: #000000;
  margin: 10px 0;
}

.colorCard {
  /* Cambia el color de fondo aquí */
  width: 100%; /* Ajusta el ancho según tus necesidades */
  margin: auto; /* Centra la card horizontalmente */
}
.colorCard .card-body {
  padding: 15px; /* Ajusta el padding según tus necesidades */
  color: black; /* Cambia el color del texto a blanco */
  background-color: #ced4da;
}
